*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
}

h1{
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 200px;
    text-align: right;
    transform-style: preserve-3d;
    text-transform: uppercase;
    transform: perspective(400px) rotateY(-25deg);
    transform-origin: right center;
    transition: all 1s;   
}

h1:hover{
    font-size: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(-25deg);
    transform-origin: right center;   
}

.container {
  border: 3px solid #888;
  height: 150px;
  perspective-origin: 50% 50%;
  perspective: 400px;
  transform-style: preserve-3d;
  width: 150px;
}

.element {
  width: 100%;
  height: 100%;
  background: red;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}